[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
pytest-asyncio = "*"
pylint = "*"
ipython = "*"

[packages]
mitmproxy = "*"
aiobotocore = {extras = ["awscli"],version = "*"}
faker = "*"
aiohttp = {extras = ["speedups"],version = "*"}
uvloop = "*"

[requires]
python_version = "3.8"
